h2 Gör din första matsedel:
p Måndag:
  input(type="text", placeholder="Namn", name="name")
  input(type="text", placeholder="Sökord", name="keywords")
  input(type="text", placeholder="Var finns receptet?", name="found_at")
p Tisdag:
  input(type="text", placeholder="Namn", name="name")
  input(type="text", placeholder="Sökord", name="keywords")
  input(type="text", placeholder="Var finns receptet?", name="found_at")
p Onsdag:
  input(type="text", placeholder="Namn", name="name")
  input(type="text", placeholder="Sökord", name="keywords")
  input(type="text", placeholder="Var finns receptet?", name="found_at")
p Torsdag:
  input(type="text", placeholder="Namn", name="name")
  input(type="text", placeholder="Sökord", name="keywords")
  input(type="text", placeholder="Var finns receptet?", name="found_at")
p Fredag:
  input(type="text", placeholder="Namn", name="name")
  input(type="text", placeholder="Sökord", name="keywords")
  input(type="text", placeholder="Var finns receptet?", name="found_at")
p Lördag:
  input(type="text", placeholder="Namn", name="name")
  input(type="text", placeholder="Sökord", name="keywords")
  input(type="text", placeholder="Var finns receptet?", name="found_at")
p Söndag:
  input(type="text", placeholder="Namn", name="name")
  input(type="text", placeholder="Sökord", name="keywords")
  input(type="text", placeholder="Var finns receptet?", name="found_at")

  p
    input(type="submit", value="Skapa konto och logga in")
  p
    input(type="submit", value="Logga in till existerande konto")


    ul
      each dish in dishes
        li
          p #{dish.name}
          p #{dish.keywords}
          p #{dish.found_at}


          ul
            each dish in dishes
              li
                - for (var i = 0; i < dish.keywords.length; i++)
                    p #{dish.keywords[i]}



                    p(class="weekday")
                      label Måndag:
                      select(multiple="multiple", name="Monday")
                        each keyword in keywords
                            option #{keyword}
                    p(class="weekday")
                      label Tisdag:
                      select(multiple="multiple", name="Tuesday")
                        each keyword in keywords
                          option #{keyword}
                    p(class="weekday")
                      label Onsdag:
                      select(multiple="multiple", name="Wednesday")
                        each keyword in keywords
                          option #{keyword}
                    p(class="weekday")
                      label Torsdag:
                      select(multiple="multiple", name="Thursday")
                        each keyword in keywords
                          option #{keyword}
                    p(class="weekday")
                      label Fredag:
                      select(multiple="multiple", name="Friday")
                        each keyword in keywords
                          option #{keyword}
                    p(class="weekday")
                      label Lördag:
                      select(multiple="multiple", name="Saturday")
                        each keyword in keywords
                          option #{keyword}
                    p(class="weekday")
                      label Söndag:
                      select(multiple="multiple", name="Sunday")
                        each keyword in keywords
                          option #{keyword}
