extends layout

block content
  div
    main
      form(name="week-form", action="/week", method="post")
        h2 Lägg till sökord på alla veckans dagar
        p Sökorden skapas när du lägger till maträtter, har du inte lagt till några maträtter finns inga sökord.
        p Om du inte väljer något sökord slumpas en rätt bland alla rätter du har lagt in.
        div(class="week")
          div(class="weekday")
            label Måndag:
            select(class="multiselect", multiple="multiple", name="Monday")
              each keyword in keywords
                option #{keyword}
          div(class="weekday")
            label Tisdag:
            select(class="multiselect", multiple="multiple", name="Tuesday")
              each keyword in keywords
                option #{keyword}
          div(class="weekday")
            label Onsdag:
            select(class="multiselect", multiple="multiple", name="Wednesday")
              each keyword in keywords
                option #{keyword}
          div(class="weekday")
            label Torsdag:
            select(class="multiselect", multiple="multiple", name="Thursday")
              each keyword in keywords
                option #{keyword}
          div(class="weekday")
            label Fredag:
            select(class="multiselect", multiple="multiple", name="Friday")
              each keyword in keywords
                option #{keyword}
          div(class="weekday")
            label Lördag:
            select(class="multiselect", multiple="multiple", name="Saturday")
              each keyword in keywords
                option #{keyword}
          div(class="weekday")
            label Söndag:
            select(class="multiselect", multiple="multiple", name="Sunday")
              each keyword in keywords
                option #{keyword}
        p
          input(type="submit", value="Spara sökord")
